@media screen and (max-width:576px){
    .nav-container{
        flex-direction: column;
    }

    .nav-item-container,
    .original-card,
    .parent-footer,
    .banner-heading,
    /* .play-games, */
    .parent-footer,
    
    .play-games
    {

        flex-direction: column;
        width: 100%;
        
    }
    
    .banner-container
    {
        flex-direction: column;
        padding-top: 20px;
    }
    /* .banner-text{
        margin-left: 20px;
    } */
    .banner-img img{
        width: 100%;
        /* height: 50%; */
    }
    .logo-container{
        width: 70%;
        justify-content: center;
    }
    .play-games
    {
        /* flex-direction: column ; */
    }

    .play-games{
        gap: 0px;
        padding: 0px;
        margin: 0px;
        
    }
    .play-games-img{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .parent-footer{
        /* flex-wrap: nowrap; */
        
    }
    .card-img img{
        /* padding-left: 100px; */
        width: 80%;
        /* margin: auto; */
        padding-left: 10%;
    }

    .hero{
        padding: 10px;
    }
    .play-games-img{
        width: 95%;
        height: 95%;
        padding-bottom: 10%;
        margin: auto;
    }
    .games-img-one {
        /* height: 90%; */
        /* width: 100%; */
        padding-left: 100px;
        position: absolute;
        width: 70%;
    }
    
    .games-img-two {
        position:relative; 
        /* bottom: 300px; */
        padding-top: 50%;
        width: 30%;
    }
    .short-text{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* width: 50%; */
        /* padding: 10%; */
        /* text-align: center; */
    }
    .last-part{
        padding: 0% 10%;
        /* width: 50%; */
        /* height: 50%; */
    }
    .footer-all-text{
        /* width: 100%; */
    }
    .end{
        /* padding-bottom: 50%; */
        background-color: #0B0223;
        margin: 0 auto;
        width: 100%;

    }
    footer{
        background-color: #0B0223;
        /* height: 500px; */
        margin: 0 auto;
        /* padding: 50px; */
    }
    /* .banner-heading{
        padding: 10% ;
        width: 90%;
    } */
    .banner-text{
        padding: 30%;
    }
}
