@media screen and (max-width:400px){
    .nav-container{
        flex-direction: column;

        }
        .nav-item-container{
            flex-direction: column;
            width: 100%;
        }
    .banner-container,
    .original-card,
    .play-games
    {
        flex-direction: column;
        
    }
    .banner-text{

    }
    .play-games{
        width: 100%;
        
    }
    {
        .banner-img{
            width: 100%;
        }
    }

    }